<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riddle Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <p>Score: {{score}} </p>
        <h1 style="text-align: center;"> Riddle Game </h1>
        <p id="question"> {{ riddle['question'] }} </p>
        <form action="submit" method="POST" style="text-align: center;" id="submit">
            <input id="answer-input" type="text" name="answer" placeholder="Your answer..." required autocomplete="off" maxlength="30">
            <button type="submit">Submit</button>
        </form>

        <div id="result">{{ result }}</div>
        Riddles Left: {{ length - index }}
    </div>
</body>
</html>
